<div class="box">
<header>
  <nav class="wrapper">
    <div id="title">
      <h1>David Calderon</h1>
      <h5>Personal Site</h5>
    </div>
    <div id="navbar">
    <div routerLink="/home" routerLinkActive="active">
      <h4 id="nav-1">Home</h4>
    </div>
    <div routerLink="/projects" routerLinkActive="active">
      <h4 id="nav-2">Projects</h4>
    </div>
    <div routerLink="/contact" routerLinkActive="active">
      <h4 id="nav-3">Contact</h4>
    </div>
  </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <h4 class="footer-text">&copy; 2022 David Calderon</h4>
</footer>
</div>